*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100%;
    background-color: #01949A;
}
#header{
    color: #E5DDC8;
    background-color: #DB1F48;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    border: 5px solid #01949A;
}
#from-to{
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#icone{
    color: #DB1F48;
    font-size: 10vh;
}
#image{
    height: 5vh;
    width: 4vw;
    background-color: antiquewhite;
}
.options{
    height: 5vh;
    width: 6vw;
    background-color: transparent;
    color: #E5DDC8;
    border: 1px solid whitesmoke;
}
.options:hover{
    border: 5px solid #DB1F48;
    border-radius: 5px;
}
#from-to{
    color:#E5DDC8;
    background-color: #004369c7;
    margin-left: 100px;
    margin-right: 100px;
    height: 30vh;
}
.icone-amount{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#img-box{
    display:flex;
    align-items: center;
    justify-content: center;
}
.from-to-2{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#final-result{
    background-color: #e5ddc88f;
    margin-top: 30px;
    width: 50%;
    height: 50px;
    text-align: center;
}
#result{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 10px;
    visibility: hidden;
}
#convert-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#Convert-btn{
    height: 50px;
    width: 150px;
    border: 1px solid whitesmoke;
    background-color: transparent;
}
#Convert-btn:hover{
    border: 5px solid #DB1F48;
    border-radius: 5px;
}
#Enter-amount{
    margin-top: 30px; 
    height: 20px;
    border: 1px solid whitesmoke;
}
#Enter-amount:hover{
    border: 5px solid #DB1F48;
    border-radius: 5px;
}